
@{
    ViewBag.Title = "XacNhanDon";
    Layout = "~/Views/Shares/_Layout.cshtml";
}

<h2 style="text-align:center">Đơn hàng của quý khách đã được Shop ghi nhận . Shop sẽ liên hệ bạn trong thời gian sớm nhất </h2>
<p>
    @Html.ActionLink("Về Trang Chủ " , "Index" , "Home")
</p>

